<div id="unit-2-owa-home" ng-controller="homeCtrl">
	<clouds/>
	<div class="content">
		<div class="container">
			<h1>Welcome to the Open Weather App</h1>
			<div class="row" ng-if="selectedCities">
				<ul class="list-unstyled">
					<li ng-repeat="city in selectedCities" class="col-xs-6 col-md-3">
						<button class="close remove-city" title="remove this city" ng-click="removeCity(city)"><i class="fa fa-times"></i></button>
						<a ui-sref="locationSearch({locationSearch:city})" class="thumbnail">
							<img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{city}}&zoom=13&size=300x300&maptype=road"/>
						</a>
					</li>
				</ul>
			</div>
			<div ng-if="noCitiesSelected">
				<alert type="warning" close="closeAlert($index)">Oh snap! You haven't saved any cities. We've picked out four random cities for you!</alert>
				<div class="row">
					<ul class="list-unstyled">
						<li ng-repeat="city in noCitiesSelected" class="col-xs-6 col-md-3">
							<a ui-sref="locationSearch({locationSearch:city})" class="thumbnail">
								<img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{city}}&zoom=13&size=300x300&maptype=road"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<alert type="info" ng-if="!selectedCities && !noCitiesSelected">
			<img src="img/ajax-loader.gif"/> Loading ...
			</alert>



			<div class="input-group col-xs-4" ng-show="selectedCities || noCitiesSelected">
				<input type="text" ng-model="newCity" typeahead="place for place in citiesList | filter:$viewValue | limitTo:20" class="form-control" placeholder="Add new city">
				<span class="input-group-addon btn btn-primary" ng-click="addCity(newCity)">Add</span>
			</div>
		</div>
	</div>
</div>
