<div ng-controller="Lesson5Ctrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-1">
				<img src="lessons/lesson-5/iglogo.png"/>
			</div>
			<div class="col-xs-4 ">
				<form ng-submit="search()">
					<p><img src="lessons/lesson-5/iglogo2.jpeg"/></p>
					<p>&nbsp;</p>
					<div class="dropdown" ng-class="{open:showTypeAhead}">
						<div class="input-group">
					      <input type="text" class="form-control" ng-model="searchTerm" ng-keyup="typeAhead()">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="submit">Search</button>
					      </span>
					    </div>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    					<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" ng-repeat="word in words  | filter:searchTerm | limitTo:20" ng-click="select()">{{word}}</a></li>
	    				</ul>
	    			</div>
			    </form>
			    <p>&nbsp;</p>
			    <p>{{recap}}</p>
			</div>	
		</div>

		
		<hr/>

		<ul class="row list-unstyled">
			<li ng-repeat="image in images" class="col-xs-2 col-sm-4 col-md-3">
				<p><img ng-src="{{image.images.low_resolution.url}}"/></p>
			</li>
		</ul>
	</div>
</div>